{% extends 'layouts/main.html' %}

{% load bootstrap3 %}
{% load i18n %}

{% block title %}
    {% trans "Login" %}
{% endblock %}

{% block content %}
    <h1>{% trans "Login" %}</h1>
    <p>{% trans "Please fill out the following fields to login:" %}</p>
    <div class="row">
        <div class="col-lg-6">
            <form role="form" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% bootstrap_button 'Sign in' button_type='submit' button_class="btn-primary" %}
            </form>
        </div>
    </div>
{% endblock %}